todo-list-jaxrs-spring-services/src/test/resources/xml/ship.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">
	<xs:element name="ship">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="batchId" type="xs:string"></xs:element>
				<xs:element name="productionDate" type="xs:date"></xs:element>
				<xs:element name="qtaProd" type="xs:integer"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>